* {
    font-family: sans-serif;
}

#formdiv {
    display: flex;
    flex-direction: row;
}

#formcol1 {
    order: 1;
}

#formcol2 {
    order: 2;
}

#formcol3 {
    order: 3;
    overflow-y: auto;
}

#generatedHtml p {
    clear: left;
}

#formcol2,
#formcol3 {
    overflow-y: auto;
    max-height: 400px;
}

#formcol1,
#formcol2,
#formcol3 {
    margin: 0px 2.5%;
}
